:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray500: hsl(0, 0%, 42%) ;
    --Gray950: hsl(0, 0%, 7%);

}

body{
    background-color: var(--Yellow);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.container{
    background-color: var(--White);
    border-radius: 1rem;
    width: 25rem;
    border: 1px solid rgb(0, 0, 0);
    margin: 9rem auto 0 auto;
    padding: 1rem;
    display: flex;
    
    flex-direction: column;
    box-shadow: 0.7rem 0.7rem;
}

.container img{
    border-radius: 1rem;
}

.icon,
img{
    display: flex;
    gap: 1rem;
    
}

.container h1{
    color: black;
    margin: 0;
    transition: all 0.3s;
}

.container h1:hover{
    color: var(--Yellow);

}
.miniCard{
    background-color: var(--Yellow);
    width: 6rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    color: black;
    margin-top: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.miniCard p{
    font-weight: 900;

}

.secondP{
    color: rgba(0, 0, 0, 0.473);
}

.icon p{
    font-weight: 900;
}

